cnl_latextual/simple_transformation/record.dtd

<!ELEMENT root (par|env)*>
<!ELEMENT par (#PCDATA|cs|math|display|message|env)*>
<!ELEMENT env (#PCDATA|cs|math|display|message|env|par)*>
        <!ATTLIST env name CDATA #REQUIRED>
<!ELEMENT cs EMPTY>
        <!ATTLIST cs name CDATA #REQUIRED>
<!ELEMENT math EMPTY>
        <!ATTLIST math name CDATA #IMPLIED>
<!ELEMENT display EMPTY>
<!ELEMENT message EMPTY>
        <!ATTLIST message name CDATA #REQUIRED>
